* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    font-size: 13pt;
    list-style: none;
}

.formContainer {
    display: flex;
    padding: 0;
}

.post {
    display: flex;
    height: 40px;
}

.past-date {
    background-color: rgb(245, 0, 0);
    color: white;
}